ul {
    list-style-type: none;
}

.title{
    cursor: pointer;

    &::before{
        content: "+";
        display: inline;
    }

    &.opened::before{
        content: "-";
    }
}

.null{
    color: grey;
}

.string{
    color: brown
}

.number{
    color: blueviolet
}