<ng-container *ngIf="data">
    <div *ngIf="!(utl.isArray(data) || utl.isObject(data))">
        {{name}} : <span [ngClass]="{'number': utl.isNumber(data), 'string':utl.isString(data)}">{{data}}</span>
        <span class="null" *ngIf="!data">(null)</span>
    </div>
    <div *ngIf="utl.isArray(data)">
        <span class="title" [ngClass]="{'opened': opened}" (click)="onToggle()">
            {{name}}: <span *ngIf="!opened">Array({{data.length}})</span>
        </span>
        <ng-container *ngIf="opened">
            <br />
            [
            <ul class="json-list">
                <li *ngFor="let item of data; let i = index">
                    <app-json-unit [data]="item" [name]="i"></app-json-unit>
                </li>
            </ul>
            ]
        </ng-container>
    </div>
    <div *ngIf="utl.isObject(data)">
        <span class="title" [ngClass]="{'opened': opened}" (click)="onToggle()">
            {{name}}: <span *ngIf="!opened">Object({{utl.entries(data).length}})</span>
        </span>
        <ng-container *ngIf="opened">
            <br />
            &#123;
            <ul class="json-list">
                <li *ngFor="let item of dataEntries">
                    <app-json-unit [data]="item[1]" [name]="item[0]"></app-json-unit>
                </li>
            </ul>
            &#125;
        </ng-container>
    </div>
</ng-container>