.container {
    width: 50rem;
    max-width: 95%;
    padding: 2rem;
    margin: 1rem;
    box-shadow: 0 2px 13px -5px #00000040;
    border-radius: 10px;
    font-family: monospace;
}

.api-form {
    display: flex;
    margin-bottom: 2rem;
    
    &__label {
        margin-right: 2rem;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
    }

    &__text {
        flex: 1;
        margin-right: 2rem;
    }

    &__submit {
        flex-basis: 7rem;
        border-radius: 5px;
        border: none;
        background: lightblue;
        height: 2rem;
    }
}