<div class="u-pad-l" *ngFor="let value of data; let i = index">
    <div class="line">
        <span class="value">
            <ng-container *ngIf="utilService.isObject(value)">
                <span>{{'{'}}&nbsp;</span>
                    <app-object [objectData]="value"></app-object>
                <span>{{'}'}}</span>
                <span *ngIf="i < data.length - 1">,</span>
            </ng-container>
            <ng-container *ngIf="utilService.isArray(value)">
                <span>&nbsp;[&nbsp;</span>
                    <app-array [arrayData]="value" ></app-array>
                <span>]&nbsp;</span>
            </ng-container>
            <ng-container *ngIf="utilService.isNumber(value)">{{(value)}}</ng-container>
            <ng-container *ngIf="utilService.isString(value)">"{{(value)}}"</ng-container>
        </span>
    </div>
</div>

